%header.header-container
  %div.header-container-up
    .renewal-l-header__global
      .renewal-title
        .renewal-title-img
          %img#note-logo{:src => "https://d2l930y2yx77uc.cloudfront.net/assets/renewal/logo-b84a1f9687168286cb1ca588b5aa4d761cd3f46e79d4ac36f0d331dfb1ed21ba.svg"}
        .listsample
          %ul.renewal-l-header__right
            %li.renewal-img a
            %li.renewal-img i
            %li.renewal-img u
            %li.renewal-img e


        //画面右のアイコン群後回し
        %ul.renewal-p-buttonSet
          %li.renewal-p-buttonSet__item
            %i.renewal-p-icon--search
    .l-header__nav
      %nav
        .p-globalNavigation__menu
          .p-globalNavigation__item
            %a ホーム
          .p-globalNavigation__item
            %a おすすめ
          .p-globalNavigation__item
            %a 募集中
          .p-globalNavigation__item
            %a ピックアップ
          .p-globalNavigation__item
            %a 注目カテゴリ
          .p-globalNavigation__item
            %a 人気タグ
          .p-globalNavigation__item__help
            %a.p-globalNavigation__item__help_link ヘルプ
        .p-globalNavigation__submit
          .p-dropNavigation__item
            %a マンガ
          .p-dropNavigation__item
            %a コラム
          .p-dropNavigation__item
            %a 小説
          .p-dropNavigation__item
            %a 写真
          .p-dropNavigation__item
            %a サウンド
          .p-dropNavigation__item
            %a ビジネス
          .p-dropNavigation__item
            %a ライフスタイル
          .p-dropNavigation__item
            %a テクノロジー
          .p-dropNavigation__item
            %a エンタメ


