/ .ng-if-note-status
        /   %h2.p-headingWithBorder
        /     このクリエイターのおすすめノート
        / .p-recommendArticle
        /   .p-recommendArticle__contents
        /     %h3.p-recommendArticle__title
        /       タイトル
        /     .p-recommendArticle__metaData
        /       %p.p-recommendArticle__like
        /         A
        /       %p.p-recommendArticle__name
        /         さとう
