%body.note
  %header.header-container
    %div
      %h1.renewal-l-header__logo
        %a
          %img#note-logo{:src => "https://d2l930y2yx77uc.cloudfront.net/assets/renewal/logo-b84a1f9687168286cb1ca588b5aa4d761cd3f46e79d4ac36f0d331dfb1ed21ba.svg"}/
      .renewal-l-header__right
        %ul.renewal-p-buttonSet
          %li.renewal-p-buttonSet__item
            .p-searchForm--header
              %renewal-hashtag-search
                %button.icon-30-search{:type => "submit"}
                %angucomplete-alt
                  .angucomplete-holder
                    %input#hashtag_search_autocomplete_value{:placeholder => "キーワードや作者名で検索", :type => "text"}
                    #hashtag_search_autocomplete_dropdown
                    .anugucomplete-dropdown.ng-hide{""}
                      %input#hashtag_search
