= render "header"

.p-timeline
  .feeds
    .feed
      .renewal-l-main
        .renewal-c-card
          .renewal-c-card__head
            %ul
              %li
                .c-avator
                  .image-class
                    %img.c-avatar--timeline{:alt => "", "data-src" => "https://d2l930y2yx77uc.cloudfront.net/production/uploads/images/3476076/profile_ca83c7d69e2f0874c29f42d51dab3b7f.jpg", :src => "https://d2l930y2yx77uc.cloudfront.net/production/uploads/images/3476076/profile_ca83c7d69e2f0874c29f42d51dab3b7f.jpg", :style => "", :title => ""}/
              %li
                %p.renewal-c-card__userName
                  Hayakawa Books & Magazines (β)
                %p.renewal-c-card__date
                  2018/06/20 17:32

          .renewal-c-card__body
            .renewal-p-cardItem
              .renewal-p-cardItem__eyecatch
                Image
              %h3.renewal-p-cardItem__title
                追悼緊急出版：ホーキング博士の最終論文収録『ホーキング、最後に語る』7月19日発売決定
              %p.renewal-p-cardItem__description
                ※書影はAmazonにリンクしています。
                %br/
                %br/
                我々はホログラムなのか？
                %br/
                %br/
                早川書房は、今年3月に急逝したスティーヴン・W・ホーキング博士の最終論文およびその一般向け解説を収録した単行本『ホーキング、最後に語る──多宇宙をめぐる博士のメッセージ』を7月19日に緊急出版いたします。
                %br/
                %br/
                博士は、世界を驚かせる大胆な論文というかたちで、私たちに遺言を残していました。
              .renewal-p-cardItem__more
                もっと見る


          .renewal-c-card__foot
            .renewal-p-action
              %ul
                %li
                  %i.fa.fa-heart-o.fa-1x
                  %i.fa.fa-share.fa-1x
                  %i.fa.fa-plus.fa-1x
                  %i.renewal-p-action__comment
                    コメントする
