.main
  .header-new
    .header-new__inner
      %h2.logo
        note
      .account-menu
        %ul.inline-wrap
          %li.inline-child
            .btn-small-left
              公開設定
          %li.inline-child
            .btn-small-right
              キャンセル
  .editor-screen
    .p-editorTips
      .p-editorTips__btn
        .c-button__icon
        %i.fa.fa-lightbulb.fa-1x
        .c-button__label
        %span.c-button__label
          ノートヒント
    .note-container
      .fude-content
        .note
          = form_for [@article] do |f|
            .icon-xlarge
              %label.icon-image{:for => "article_image"}
                %i.fa.fa-image.fa-2x
                %input{:type => "image", :id => "article_image", :type => "file", :style => "display:none"}
            .note-name
              %h1
                %input{:name => "name", :type => "text",:placeholder => "ノートタイトル", :size => "620"}/
            .note-body
              .body-wrapper
                %OeiGn
                %textarea{:cols => "50", :name => "お問い合わせ内容", :rows => "10",:placeholder => "ノートタイトル"}

