.renewal-l-pageContainer
  .renewal-p-magList
    %ul.renewal-p-magUl__create
      %li.renewal-p-magList__create
        %a.renewal-p-magList__createInner
          .renewal-p-magList__createElement
            %i.icon-30-plus
            %p マガジンを作る
