= render "menuheader"
.mainmenu
  .renewal-p-creator
    .renewal-p-creator__container
      .creator-profile
        .renewal-p-creator__container
          .renewal-p-creator__content
            .renewal-p-creator__contentInner
              =image_tag "menu2.png",class:"menu2"

              .renewal-p-creator__actionPopover
                .renewal-p-creator__actionPopover__inner
                  .renewal-c-popover__item
                    プロフィールを編集する
                  .renewal-c-popover__separator
                  .renewal-c-popover__item
                    Amazonウィジェットを追加

              .renewal-c-popover.renewal-c-popover--action
              .renewal-p-creator__profile
                .renewal-p-creator__avatar
                  %img.c-avatar__img{:lightbox => "true", "lightbox-type" => "profile", "ng-src" => "https://d2l930y2yx77uc.cloudfront.net/assets/default/default_profile-2f533b6a0048b61b8d761198d14cbb4c603f89edb03577f061efc7393b85d811.png", :src => "https://d2l930y2yx77uc.cloudfront.net/assets/default/default_profile-2f533b6a0048b61b8d761198d14cbb4c603f89edb03577f061efc7393b85d811.png"}/

                .renewal-p-creator__name
                  tera
                .renewal-p-creator__action
              .renewal-p-creator__biography
                自己紹介
              .renewal-p-creator__status
                .renewal-p-creator__follow
                  .renewal-p-creator__followItem
                    %a.renewal-p-creator__followLink
                      %span.renewal-p-creator__followCount
                        52
                      %span.renewal-p-creator__followLabel
                        フォロー
                  .renewal-p-creator__followItem
                    %a.renewal-p-creator__followLink
                      %span.renewal-p-creator__followCount
                        0
                      %span.renewal-p-creator__followLabel
                        フォロワー
                .renewal-p-creator__snsIcon
                  sns
        .ng-hide
    / .creator-contents
    /   .creator-menus
    /     .renewal-p-customNav
    /       .renewal-p-customNav__inner
    /         .renewal-p-customNav__nav
    /           %ul.home-tab-menu
    /             %li
    /               %a.home-tab{:href => "#tab-home"} ホーム
    /             %li
    /               %a.magazine-tab{:href => "#tab-magazine"} マガジン
    /         .renewal-p-customNav__search
    /           %a サーチ
    /   = render "tabhome"
    /   = render "tabmagazine"

    .creator-contents
      .creator-menus
        .renewal-p-customNav
          .renewal-p-customNav__inner
            .renewal-p-customNav__nav
              %ul.tabs.home-tab-menu
                %li
                  %a.home-tab{:href => "#view1"} ホーム
                %li
                  %a.magazine-tab{:href => "#view2"} マガジン

            .renewal-p-customNav__search
              %a サーチ
      #view1.tab-content
        = render "tabhome"
      #view2.tab-content
        = render "tabmagazine"
