.p-comments__body{ 'data-comment-id': comment.id }
  .p-comments__item
    .p-comments__avatar
      .c-avatar.c-avatar--small
        = image_tag @article.user.usericon,class:"commenticon"
        / ログアウト時のアイコン画像を挿入if文
        / jsファイルの方もいじらないとインクリメンタル同様にいじらないとダメっぽいです
    .p-comments__name
      .p-comments__nameLink
        = comment.user.nickname
    .p-comments__status
      .p-comments__date
        = comment[:created_at].strftime("%Y-%m-%d%H:%M")
    .p-comments__message
      =comment.text
