.p-comments__body
  .p-comments__item
    .p-comments__avatar
      .c-avatar.c-avatar--small
        %img.c-avatar__img{:alt => "", "data-src" => "https://d2l930y2yx77uc.cloudfront.net/assets/default/default_profile-2f533b6a0048b61b8d761198d14cbb4c603f89edb03577f061efc7393b85d811.png", :src => "https://d2l930y2yx77uc.cloudfront.net/assets/default/default_profile-2f533b6a0048b61b8d761198d14cbb4c603f89edb03577f061efc7393b85d811.png", :style => "", :title => ""}/
    .p-comments__name
      .p-comments__nameLink
        = comment.user.nickname
    .p-comments__status
      .p-comments__date
        = comment[:created_at].strftime("%Y-%m-%d%H:%M")
    .p-comments__message
      =comment.text
