.header-container
  .renewal-l-container
    .renewal-l-header
      .renewal-l-header__inner
        .renewal-l-header__global
          .renewal-l-header__logo
            = link_to articles_path do
              = image_tag "https://d2l930y2yx77uc.cloudfront.net/assets/renewal/logo-b84a1f9687168286cb1ca588b5aa4d761cd3f46e79d4ac36f0d331dfb1ed21ba.svg"


          .renewal-l-header__right
            %ul.renewal-p-buttonSet
              %li.renewal-p-buttonSet__textLink
                %a.c-button.c-button--type_none
                  .c-button__label_login
                    ログイン
                %a.c-button.c-button--type_none
                  .c-button__label_regis
                    新規登録
              %li.renewal-p-buttonSet__item
                %i.fa.fa-edit
