.l-container.l-container--column_2column
  .l-container__header
    .p-searchHeader
      .p-searchHeader__pageTitle
        .p-searchHeader__title
          編集部のおすすめ
        .p-searchHeader__rss
          %i.c-icon.c-icon--rss
  .l-container__body
    .p-timeline-out
      .p-timeline__item
        .index-feed
          .c-card
            .c-card__body
              .p-cardItem
                .p-cardItem__eyecatch.is-first
                  %img.fit{:alt => "", "data-src" => "https://d2l930y2yx77uc.cloudfront.net/production/uploads/images/6974093/rectangle_large_type_2_4242948ef4812a89b476a5db23c16d5f.jpg", :src => "https://d2l930y2yx77uc.cloudfront.net/production/uploads/images/6974093/rectangle_large_type_2_4242948ef4812a89b476a5db23c16d5f.jpg", :style => "", :title => ""}/
                .p-cardItem__title.is-first
                  .ctrl.note.name
                    “共創”する人の遊び場をつくりたい。nana musicが「...
                .p-cardItem__description
                  2012年に「nana」をローンチしてから、あっという間に5年が経った今年、na...
                .p-cardItem__status
                  .p-cardItem__statusItem.p-cardItem__statusItem--like
                    .p-cardItem__statusIcon-heart
                      %i.c-icon.c-icon--heart.c-icon--size_small
                        %i.fa.fa-heart-o.fa-1x
                  .p-cardItem__statusItem.p-cardItem__statusItem--comment
                    .p-cardItem__statusIcon-comment
                      %i.c-icon.c-icon--comment.c-icon--size_small
                        %i.fa.fa-comment-o.fa-1x

            .c-card__foot
              .c-card__avatar
                .c-card__avatarIcon
                  .c-avatar
                    .c-avatar--timeline
                      %img.c-avatar--timeline{:alt => "", "data-src" => "https://d2l930y2yx77uc.cloudfront.net/production/uploads/images/6636444/profile_8ae14f6be7b701563c64d27574102072.jpg", :src => "https://d2l930y2yx77uc.cloudfront.net/production/uploads/images/6636444/profile_8ae14f6be7b701563c64d27574102072.jpg", :style => "", :title => ""}/
                .c-card__avatarName
                  nana music Inc.
                .c-card__avatarDate
                  昨日
              .c-card__action
                .p-action
                  .p-action__item
                    .p-action__like
                      .p-action__icon.p-action__icon--like
                        .c-icon-heartbreak
                          %i.fa.fa-heart-o.fa-1x

      .p-timeline__item
        .index-feed
          .c-card
            .c-card__body
              .p-cardItem
                .p-cardItem__eyecatch
                  %img.fit{:alt => "", "data-src" => "https://d2l930y2yx77uc.cloudfront.net/production/uploads/images/6978028/square_large_64f5576277bba415dd203042e4844493.jpg", :src => "https://d2l930y2yx77uc.cloudfront.net/production/uploads/images/6978028/square_large_64f5576277bba415dd203042e4844493.jpg", :style => "", :title => ""}/
                .p-cardItem__title.is-secound
                  .ctrl.note.name
                    育休中の友人を会社のリモートアシスタントに。
                .p-cardItem__description
                  ↑写真はイメージです。この子は育休中ではなく、私の先輩moronnonです。  ...
                .p-cardItem__status
                  .p-cardItem__statusItem.p-cardItem__statusItem--like
                    .p-cardItem__statusIcon-heart
                      %i.c-icon.c-icon--heart.c-icon--size_small
                        %i.fa.fa-heart-o.fa-1x
                  .p-cardItem__statusItem.p-cardItem__statusItem--comment
                    .p-cardItem__statusIcon-comment
                      %i.c-icon.c-icon--comment.c-icon--size_small
                        %i.fa.fa-comment-o.fa-1x
            .c-card__foot
              .c-card__avatar
                .c-card__avatarIcon
                  .c-avatar
                    .c-avatar--timeline
                      %img.c-avatar--timeline{:alt => "", "data-src" => "https://d2l930y2yx77uc.cloudfront.net/production/uploads/images/2357105/profile_7bc6f82a2e853a8ca223a4ff4e2cad1f.jpg", :src => "https://d2l930y2yx77uc.cloudfront.net/production/uploads/images/2357105/profile_7bc6f82a2e853a8ca223a4ff4e2cad1f.jpg", :style => "", :title => ""}/
                .c-card__avatarName
                  Ayumi
                .c-card__avatarDate
                  19時間前
              .c-card__action
                .p-action
                  .p-action__item
                    .p-action__like
                      .p-action__icon.p-action__icon--like
                        .c-icon-heartbreak
                          %i.fa.fa-heart-o.fa-1x

      .p-timeline__item
        .index-feed
          .c-card
            .c-card__body
              .p-cardItem
                .p-cardItem__eyecatch
                  %img{:alt => "", "data-src" => "https://d2l930y2yx77uc.cloudfront.net/production/uploads/images/6982030/square_thumb_2x_0735bcd6.jpg", :src => "https://d2l930y2yx77uc.cloudfront.net/production/uploads/images/6982030/square_thumb_2x_0735bcd6.jpg", :style => "", :title => ""}/
                .p-cardItem__title.is-secound
                  .ctrl.note.name
                    宇多田ヒカル「初恋」を聴く
                .p-cardItem__description
                .p-cardItem__status
                  .p-cardItem__statusItem.p-cardItem__statusItem--like
                    .p-cardItem__statusIcon-heart
                      %i.c-icon.c-icon--heart.c-icon--size_small
                        %i.fa.fa-heart-o.fa-1x
                  .p-cardItem__statusItem.p-cardItem__statusItem--comment
                    .p-cardItem__statusIcon-comment
                      %i.c-icon.c-icon--comment.c-icon--size_small
                        %i.fa.fa-comment-o.fa-1x
            .c-card__foot
              .c-card__avatar
                .c-card__avatarIcon
                  .c-avatar
                    .c-avatar--timeline
                      %img.c-avatar--timeline{:alt => "", "data-src" => "https://d2l930y2yx77uc.cloudfront.net/production/uploads/images/6358111/profile_da36bf055fec1204ea610dc37c3098a8.jpg", :src => "https://d2l930y2yx77uc.cloudfront.net/production/uploads/images/6358111/profile_da36bf055fec1204ea610dc37c3098a8.jpg", :style => "", :title => ""}/
                .c-card__avatarName
                  かわせみ
                .c-card__avatarDate
                  13時間前
              .c-card__action
                .p-action
                  .p-action__item
                    .p-action__like
                      .p-action__icon.p-action__icon--like
                        .c-icon-heartbreak
                          %i.fa.fa-heart-o.fa-1x

      .p-timeline__item
        .index-feed
          .c-card
            .c-card__body
              .p-cardItem
                .p-cardItem__eyecatch
                  %img{:alt => "", "data-src" => "https://d2l930y2yx77uc.cloudfront.net/production/uploads/images/6982544/square_thumb_2x_b3053f11.jpg", :src => "https://d2l930y2yx77uc.cloudfront.net/production/uploads/images/6982544/square_thumb_2x_b3053f11.jpg", :style => "", :title => ""}/
                .p-cardItem__title.is-secound
                  .ctrl.note.name
                    AIスピーカーと食べるおじさん
                .p-cardItem__description
                .p-cardItem__status
                  .p-cardItem__statusItem.p-cardItem__statusItem--like
                    .p-cardItem__statusIcon-heart
                      %i.c-icon.c-icon--heart.c-icon--size_small
                        %i.fa.fa-heart-o.fa-1x
                  .p-cardItem__statusItem.p-cardItem__statusItem--comment
                    .p-cardItem__statusIcon-comment
                      %i.c-icon.c-icon--comment.c-icon--size_small
                        %i.fa.fa-comment-o.fa-1x
            .c-card__foot
              .c-card__avatar
                .c-card__avatarIcon
                  .c-avatar
                    .c-avatar--timeline
                      %img.c-avatar--timeline{:alt => "", "data-src" => "https://d2l930y2yx77uc.cloudfront.net/production/uploads/images/1150635/profile_1366b027aca078de1669748b00886192.jpg", :src => "https://d2l930y2yx77uc.cloudfront.net/production/uploads/images/1150635/profile_1366b027aca078de1669748b00886192.jpg", :style => "", :title => ""}/
                .c-card__avatarName
                  鈴木フルーツ
                .c-card__avatarDate
                  12時間前
              .c-card__action
                .p-action
                  .p-action__item
                    .p-action__like
                      .p-action__icon.p-action__icon--like
                        .c-icon-heartbreak
                          %i.fa.fa-heart-o.fa-1x

  .l-container__sub
    .l-sidebar
      .p-boosterList.p-boosterList--vertical
        .p-boosterList__item
          .renewal-p-magList__item
            .renewal-p-magList__cover
              .renewal-p-magList__overlay
              .renewal-p-magList__title
                .magList__title
                  小説 記事のまとめ
              %img{"ng-src" => "https://d2l930y2yx77uc.cloudfront.net/production/uploads/images/5827410/magazine_cover_landscape_09cb9282aa68d9b6536965d008f7145a.jpg", :src => "https://d2l930y2yx77uc.cloudfront.net/production/uploads/images/5827410/magazine_cover_landscape_09cb9282aa68d9b6536965d008f7145a.jpg"}/
            .renewal-p-magList__body.renewal-p-magList__body
              .renewal-p-magList__avatarList
                %ul
                  %li
                    .c-avatar--small
                      %img.c-avatar--small{"ng-src" => "https://d2l930y2yx77uc.cloudfront.net/production/uploads/images/5663728/profile_2b63d01fbd63009d3e5cb91ff44d15e8.jpg", :src => "https://d2l930y2yx77uc.cloudfront.net/production/uploads/images/5663728/profile_2b63d01fbd63009d3e5cb91ff44d15e8.jpg"}/
                  %li
                    .c-avatar--small
                      %img.c-avatar--small{"ng-src" => "https://d2l930y2yx77uc.cloudfront.net/production/uploads/images/5540026/profile_690e045caba9a551b5d839aa359ce330.jpg", :src => "https://d2l930y2yx77uc.cloudfront.net/production/uploads/images/5540026/profile_690e045caba9a551b5d839aa359ce330.jpg"}/
                  %li
                    .c-avatar--small
                      %img.c-avatar--small{"ng-src" => "https://d2l930y2yx77uc.cloudfront.net/production/uploads/images/3972950/profile_a7f87c3ec3c5152cb446f35ea4c0d09a.jpg", :src => "https://d2l930y2yx77uc.cloudfront.net/production/uploads/images/3972950/profile_a7f87c3ec3c5152cb446f35ea4c0d09a.jpg"}/
                  %li
                    .c-avatar--small
                      %img.c-avatar--small{"ng-src" => "https://d2l930y2yx77uc.cloudfront.net/production/uploads/images/5540026/profile_690e045caba9a551b5d839aa359ce330.jpg", :src => "https://d2l930y2yx77uc.cloudfront.net/production/uploads/images/5540026/profile_690e045caba9a551b5d839aa359ce330.jpg"}/
                  %li
                    .c-avatar--small
                      %img.c-avatar--small{"ng-src" => "https://d2l930y2yx77uc.cloudfront.net/production/uploads/images/201412/profile_bab2629aef691bc093665f2bd9743d99.jpg", :src => "https://d2l930y2yx77uc.cloudfront.net/production/uploads/images/201412/profile_bab2629aef691bc093665f2bd9743d99.jpg"}/
                  %li.renewal-p-magList__more
                    5+

              .renewal-p-magList__button
                .renewal-c-button--secondaryXsmall
                  フォロー

        .p-boosterList__item
          .renewal-p-magList__item
            .renewal-p-magList__cover
              .renewal-p-magList__overlay
              .renewal-p-magList__title
                .magList__title
                  エンジニア系 記事まとめ
              %img{"ng-src" => "https://d2l930y2yx77uc.cloudfront.net/production/uploads/images/6033632/magazine_cover_landscape_b51ddba18c2c99cac3b62b5b9c6a5082.jpg", :src => "https://d2l930y2yx77uc.cloudfront.net/production/uploads/images/6033632/magazine_cover_landscape_b51ddba18c2c99cac3b62b5b9c6a5082.jpg"}/


            .renewal-p-magList__description
              %p
                %a
                  %span.magList__description
                    noteに投稿されたエンジニア系の記事のまとめ。コーディング...

            .renewal-p-magList__body.renewal-p-magList__body
              .renewal-p-magList__avatarList
                %ul
                  %li
                    .c-avatar--small
                      %img.c-avatar--small{"ng-src" => "https://d2l930y2yx77uc.cloudfront.net/production/uploads/images/5663728/profile_2b63d01fbd63009d3e5cb91ff44d15e8.jpg", :src => "https://d2l930y2yx77uc.cloudfront.net/production/uploads/images/5663728/profile_2b63d01fbd63009d3e5cb91ff44d15e8.jpg"}/
                  %li
                    .c-avatar--small
                      %img.c-avatar--small{"ng-src" => "https://d2l930y2yx77uc.cloudfront.net/production/uploads/images/5540026/profile_690e045caba9a551b5d839aa359ce330.jpg", :src => "https://d2l930y2yx77uc.cloudfront.net/production/uploads/images/5540026/profile_690e045caba9a551b5d839aa359ce330.jpg"}/
                  %li
                    .c-avatar--small
                      %img.c-avatar--small{"ng-src" => "https://d2l930y2yx77uc.cloudfront.net/production/uploads/images/3972950/profile_a7f87c3ec3c5152cb446f35ea4c0d09a.jpg", :src => "https://d2l930y2yx77uc.cloudfront.net/production/uploads/images/3972950/profile_a7f87c3ec3c5152cb446f35ea4c0d09a.jpg"}/
                  %li
                    .c-avatar--small
                      %img.c-avatar--small{"ng-src" => "https://d2l930y2yx77uc.cloudfront.net/production/uploads/images/5540026/profile_690e045caba9a551b5d839aa359ce330.jpg", :src => "https://d2l930y2yx77uc.cloudfront.net/production/uploads/images/5540026/profile_690e045caba9a551b5d839aa359ce330.jpg"}/
                  %li
                    .c-avatar--small
                      %img.c-avatar--small{"ng-src" => "https://d2l930y2yx77uc.cloudfront.net/production/uploads/images/201412/profile_bab2629aef691bc093665f2bd9743d99.jpg", :src => "https://d2l930y2yx77uc.cloudfront.net/production/uploads/images/201412/profile_bab2629aef691bc093665f2bd9743d99.jpg"}/
                  %li.renewal-p-magList__more
                    4+

              .renewal-p-magList__button
                .renewal-c-button--secondaryXsmall
                  フォロー

        .p-boosterList__item
          .renewal-p-magList__item
            .renewal-p-magList__cover
              .renewal-p-magList__overlay
              .renewal-p-magList__title
                .magList__title
                  デザイン 記事まとめ
              %img{"ng-src" => "https://d2l930y2yx77uc.cloudfront.net/production/uploads/images/6657642/magazine_cover_landscape_785a0580d64e38741414848e81f6158d.jpg", :src => "https://d2l930y2yx77uc.cloudfront.net/production/uploads/images/6657642/magazine_cover_landscape_785a0580d64e38741414848e81f6158d.jpg"}/


            .renewal-p-magList__description
              %p
                %a
                  %span.magList__description
                    デザイン系の記事を収集してまとめるマガジン。ハッシュタグ #...

            .renewal-p-magList__body.renewal-p-magList__body
              .renewal-p-magList__avatarList
                %ul
                  %li
                    .c-avatar--small
                      %img.c-avatar--small{"ng-src" => "https://d2l930y2yx77uc.cloudfront.net/production/uploads/images/5663728/profile_2b63d01fbd63009d3e5cb91ff44d15e8.jpg", :src => "https://d2l930y2yx77uc.cloudfront.net/production/uploads/images/5663728/profile_2b63d01fbd63009d3e5cb91ff44d15e8.jpg"}/
                  %li
                    .c-avatar--small
                      %img.c-avatar--small{"ng-src" => "https://d2l930y2yx77uc.cloudfront.net/production/uploads/images/5540026/profile_690e045caba9a551b5d839aa359ce330.jpg", :src => "https://d2l930y2yx77uc.cloudfront.net/production/uploads/images/5540026/profile_690e045caba9a551b5d839aa359ce330.jpg"}/
                  %li
                    .c-avatar--small
                      %img.c-avatar--small{"ng-src" => "https://d2l930y2yx77uc.cloudfront.net/production/uploads/images/3972950/profile_a7f87c3ec3c5152cb446f35ea4c0d09a.jpg", :src => "https://d2l930y2yx77uc.cloudfront.net/production/uploads/images/3972950/profile_a7f87c3ec3c5152cb446f35ea4c0d09a.jpg"}/
                  %li
                    .c-avatar--small
                      %img.c-avatar--small{"ng-src" => "https://d2l930y2yx77uc.cloudfront.net/production/uploads/images/5540026/profile_690e045caba9a551b5d839aa359ce330.jpg", :src => "https://d2l930y2yx77uc.cloudfront.net/production/uploads/images/5540026/profile_690e045caba9a551b5d839aa359ce330.jpg"}/
                  %li
                    .c-avatar--small
                      %img.c-avatar--small{"ng-src" => "https://d2l930y2yx77uc.cloudfront.net/production/uploads/images/201412/profile_bab2629aef691bc093665f2bd9743d99.jpg", :src => "https://d2l930y2yx77uc.cloudfront.net/production/uploads/images/201412/profile_bab2629aef691bc093665f2bd9743d99.jpg"}/
                  %li.renewal-p-magList__more
                    28+

              .renewal-p-magList__button
                .renewal-c-button--secondaryXsmall
                  フォロー

        .p-boosterList__item
          .renewal-p-magList__item
            .renewal-p-magList__cover
              .renewal-p-magList__overlay
              .renewal-p-magList__title
                .magList__title
                  グルメ系 記事のまとめ
              %img{"ng-src" => "https://d2l930y2yx77uc.cloudfront.net/production/uploads/images/5886371/magazine_cover_landscape_1548c6467170d432d9e65ff99d6b3fe5.jpg", :src => "https://d2l930y2yx77uc.cloudfront.net/production/uploads/images/5886371/magazine_cover_landscape_1548c6467170d432d9e65ff99d6b3fe5.jpg"}/
            .renewal-p-magList__body.renewal-p-magList__body
              .renewal-p-magList__avatarList
                %ul
                  %li
                    .c-avatar--small
                      %img.c-avatar--small{"ng-src" => "https://d2l930y2yx77uc.cloudfront.net/production/uploads/images/5663728/profile_2b63d01fbd63009d3e5cb91ff44d15e8.jpg", :src => "https://d2l930y2yx77uc.cloudfront.net/production/uploads/images/5663728/profile_2b63d01fbd63009d3e5cb91ff44d15e8.jpg"}/
                  %li
                    .c-avatar--small
                      %img.c-avatar--small{"ng-src" => "https://d2l930y2yx77uc.cloudfront.net/production/uploads/images/5540026/profile_690e045caba9a551b5d839aa359ce330.jpg", :src => "https://d2l930y2yx77uc.cloudfront.net/production/uploads/images/5540026/profile_690e045caba9a551b5d839aa359ce330.jpg"}/
                  %li
                    .c-avatar--small
                      %img.c-avatar--small{"ng-src" => "https://d2l930y2yx77uc.cloudfront.net/production/uploads/images/3972950/profile_a7f87c3ec3c5152cb446f35ea4c0d09a.jpg", :src => "https://d2l930y2yx77uc.cloudfront.net/production/uploads/images/3972950/profile_a7f87c3ec3c5152cb446f35ea4c0d09a.jpg"}/
                  %li
                    .c-avatar--small
                      %img.c-avatar--small{"ng-src" => "https://d2l930y2yx77uc.cloudfront.net/production/uploads/images/5540026/profile_690e045caba9a551b5d839aa359ce330.jpg", :src => "https://d2l930y2yx77uc.cloudfront.net/production/uploads/images/5540026/profile_690e045caba9a551b5d839aa359ce330.jpg"}/
                  %li
                    .c-avatar--small
                      %img.c-avatar--small{"ng-src" => "https://d2l930y2yx77uc.cloudfront.net/production/uploads/images/201412/profile_bab2629aef691bc093665f2bd9743d99.jpg", :src => "https://d2l930y2yx77uc.cloudfront.net/production/uploads/images/201412/profile_bab2629aef691bc093665f2bd9743d99.jpg"}/
                  %li.renewal-p-magList__more
                    4+

              .renewal-p-magList__button
                .renewal-c-button--secondaryXsmall
                  フォロー

        .p-boosterList__item
          .renewal-p-magList__item
            .renewal-p-magList__cover
              .renewal-p-magList__overlay
              .renewal-p-magList__title
                .magList__title
                  グルメ系 記事のまとめ
              %img{"ng-src" => "https://d2l930y2yx77uc.cloudfront.net/production/uploads/images/5886371/magazine_cover_landscape_1548c6467170d432d9e65ff99d6b3fe5.jpg", :src => "https://d2l930y2yx77uc.cloudfront.net/production/uploads/images/5886371/magazine_cover_landscape_1548c6467170d432d9e65ff99d6b3fe5.jpg"}/
            .renewal-p-magList__body.renewal-p-magList__body
              .renewal-p-magList__avatarList
                %ul
                  %li
                    .c-avatar--small
                      %img.c-avatar--small{"ng-src" => "https://d2l930y2yx77uc.cloudfront.net/production/uploads/images/5663728/profile_2b63d01fbd63009d3e5cb91ff44d15e8.jpg", :src => "https://d2l930y2yx77uc.cloudfront.net/production/uploads/images/5663728/profile_2b63d01fbd63009d3e5cb91ff44d15e8.jpg"}/
                  %li
                    .c-avatar--small
                      %img.c-avatar--small{"ng-src" => "https://d2l930y2yx77uc.cloudfront.net/production/uploads/images/5540026/profile_690e045caba9a551b5d839aa359ce330.jpg", :src => "https://d2l930y2yx77uc.cloudfront.net/production/uploads/images/5540026/profile_690e045caba9a551b5d839aa359ce330.jpg"}/
                  %li
                    .c-avatar--small
                      %img.c-avatar--small{"ng-src" => "https://d2l930y2yx77uc.cloudfront.net/production/uploads/images/3972950/profile_a7f87c3ec3c5152cb446f35ea4c0d09a.jpg", :src => "https://d2l930y2yx77uc.cloudfront.net/production/uploads/images/3972950/profile_a7f87c3ec3c5152cb446f35ea4c0d09a.jpg"}/
                  %li
                    .c-avatar--small
                      %img.c-avatar--small{"ng-src" => "https://d2l930y2yx77uc.cloudfront.net/production/uploads/images/5540026/profile_690e045caba9a551b5d839aa359ce330.jpg", :src => "https://d2l930y2yx77uc.cloudfront.net/production/uploads/images/5540026/profile_690e045caba9a551b5d839aa359ce330.jpg"}/
                  %li
                    .c-avatar--small
                      %img.c-avatar--small{"ng-src" => "https://d2l930y2yx77uc.cloudfront.net/production/uploads/images/201412/profile_bab2629aef691bc093665f2bd9743d99.jpg", :src => "https://d2l930y2yx77uc.cloudfront.net/production/uploads/images/201412/profile_bab2629aef691bc093665f2bd9743d99.jpg"}/
                  %li.renewal-p-magList__more
                    4+

              .renewal-p-magList__button
                .renewal-c-button--secondaryXsmall
                  フォロー

        .p-boosterList__item
          .renewal-p-magList__item
            .renewal-p-magList__cover
              .renewal-p-magList__overlay
              .renewal-p-magList__title
                .magList__title
                  デザイン 記事まとめ
              %img{"ng-src" => "https://d2l930y2yx77uc.cloudfront.net/production/uploads/images/6033629/magazine_cover_landscape_9f4fe761bad14e82b03e87126fcb7cc4.jpg", :src => "https://d2l930y2yx77uc.cloudfront.net/production/uploads/images/6033629/magazine_cover_landscape_9f4fe761bad14e82b03e87126fcb7cc4.jpg"}/


            .renewal-p-magList__description
              %p
                %a
                  %span.magList__description
                    note内にあるよい図解記事をまとめます。 主に #図解 の...

            .renewal-p-magList__body.renewal-p-magList__body
              .renewal-p-magList__avatarList
                %ul
                  %li
                    .c-avatar--small
                      %img.c-avatar--small{"ng-src" => "https://d2l930y2yx77uc.cloudfront.net/production/uploads/images/5663728/profile_2b63d01fbd63009d3e5cb91ff44d15e8.jpg", :src => "https://d2l930y2yx77uc.cloudfront.net/production/uploads/images/5663728/profile_2b63d01fbd63009d3e5cb91ff44d15e8.jpg"}/
                  %li
                    .c-avatar--small
                      %img.c-avatar--small{"ng-src" => "https://d2l930y2yx77uc.cloudfront.net/production/uploads/images/5540026/profile_690e045caba9a551b5d839aa359ce330.jpg", :src => "https://d2l930y2yx77uc.cloudfront.net/production/uploads/images/5540026/profile_690e045caba9a551b5d839aa359ce330.jpg"}/
                  %li
                    .c-avatar--small
                      %img.c-avatar--small{"ng-src" => "https://d2l930y2yx77uc.cloudfront.net/production/uploads/images/3972950/profile_a7f87c3ec3c5152cb446f35ea4c0d09a.jpg", :src => "https://d2l930y2yx77uc.cloudfront.net/production/uploads/images/3972950/profile_a7f87c3ec3c5152cb446f35ea4c0d09a.jpg"}/
                  %li
                    .c-avatar--small
                      %img.c-avatar--small{"ng-src" => "https://d2l930y2yx77uc.cloudfront.net/production/uploads/images/5540026/profile_690e045caba9a551b5d839aa359ce330.jpg", :src => "https://d2l930y2yx77uc.cloudfront.net/production/uploads/images/5540026/profile_690e045caba9a551b5d839aa359ce330.jpg"}/
                  %li
                    .c-avatar--small
                      %img.c-avatar--small{"ng-src" => "https://d2l930y2yx77uc.cloudfront.net/production/uploads/images/201412/profile_bab2629aef691bc093665f2bd9743d99.jpg", :src => "https://d2l930y2yx77uc.cloudfront.net/production/uploads/images/201412/profile_bab2629aef691bc093665f2bd9743d99.jpg"}/
                  %li.renewal-p-magList__more
                    2+

              .renewal-p-magList__button
                .renewal-c-button--secondaryXsmall
                  フォロー

        .show-allMag
          すべてのマガジンを表示
