.renewal-c-popover--mymenu
  %ul.renewal-p-mymenuList
    .renewal-p-mymenuList__item
      %a.u-textBold
        %span
          さとう
        %span.renewal-p-mymenuList__span
          = link_to user_menu_index_path(current_user) do
            マイページを表示
    .renewal-c-popover__separator
    .renewal-p-mymenuList__item
      %a
        ノートを一覧で管理
    .renewal-p-mymenuList__item
      %a
        マガジンを一覧で管理
    .renewal-p-mymenuList__item
      %a
        画像を一覧で管理
    .renewal-c-popover__separator
    .renewal-p-mymenuList__item
      %a
        購入 / スキをしたノート
    .renewal-c-popover__separator
    .renewal-p-mymenuList__item
      %a
        アカウント設定
    .renewal-p-mymenuList__item
      %a
        ダッシュボード
    .renewal-p-mymenuList__item
      =link_to destroy_user_session_path(current_user) do
        ログアウト
    .renewal-c-popover__separator
    .renewal-p-mymenuList__item-renewal-p-mymenuList__item--button
      %a.premier
        noteプレミアムサービス
