%ul
  %li
    .c-avator
      .image-class
        = image_tag @article.user.usericon,class:"commonicon"
  %li
    %p.renewal-c-card__userName
      = article.user.nickname
    %p.renewal-c-card__date
      = article[:created_at].strftime("%Y-%m-%d%H:%M")
      %p-articleNoteInfo__status
        = link_to "削除", article,method: :delete, class: 'delete'
