%ul
  %li
    .c-avator
      .image-class
        %img.c-avatar--timeline{:alt => "", "data-src" => "https://d2l930y2yx77uc.cloudfront.net/production/uploads/images/3476076/profile_ca83c7d69e2f0874c29f42d51dab3b7f.jpg", :src => "https://d2l930y2yx77uc.cloudfront.net/production/uploads/images/3476076/profile_ca83c7d69e2f0874c29f42d51dab3b7f.jpg", :style => "", :title => ""}/
  %li
    %p.renewal-c-card__userName
      = article.user.nickname
    %p.renewal-c-card__date
      = article[:created_at].strftime("%Y-%m-%d%H:%M")
      %p-articleNoteInfo__status
        = link_to "削除", article_path(article),method: :delete, class: 'delete'
