.p-timeline {
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: #f7f9f9;
}

.renewal-l-main {
  width: 580px;
  margin: 0 auto;
}

.renewal-c-card{
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  background: #fff;
  margin-bottom: 15px;
}

.renewal-c-card__head {
  padding:20px;
}

.renewal-c-card__head>ul {
  display: flex;
  align-items: center;
  list-style:none;
}

.renewal-c-card__head>li {
}

.c-avator{
  overflow: hidden;
  width: 36px;
  height: 36px;
  margin-right: 8px;
}

.image-class{
}

.c-avatar--timeline {
  width: 36px;
  height: 36px;
  border-radius: 36px;
}

p.renewal-c-card__userName{
  font-size: 12px;
  font-weight: bold;
}

p.renewal-c-card__date{
  font-size:11px;
}


.renewal-c-card__body {
  padding: 0 20px 20px;
}

.renewal-p-cardItem__eyecatch {
  margin: 0 -20px 20px;
  background-color:black;
  height:303px;
  width:578px;
}

.renewal-p-cardItem__title{
  margin-bottom: 13px;
  font-size: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", Hiragino Kaku Gothic ProN, "ヒラギノ角ゴ ProN W3", Arial, "メイリオ", Meiryo, sans-serif;
  font-feature-settings: 'palt' 1;
  letter-spacing: 0.04em;
  line-height: 1.5;
}

.renewal-p-cardItem__description {
  font-size: 14px;
  line-height: 1.8;
}

.renewal-p-cardItem__more{
  display: block;
  margin-top: 10px;
  font-size: 12px;
  color: #249f80;
}

.renewal-c-card__foot {
  margin: 0 20px;
  padding: 15px 0 18px;
  border-top: 1px solid #e8eceb;
}

.renewal-p-action{
  color:black;
  display: flex;
  padding-left:5px;
}


.fa.fa-heart-o.fa-1x{
  margin-right: 35px;
  padding-top: 4px;
}

.fa.fa-share.fa-1x{
  color:black;
  margin-right: 35px;
}

.fa.fa-plus.fa-1x{
  color:black;
  margin-right: 35px;
}

.fa.fa-ellipsis-h{
  margin-right: 35px;
}

.renewal-p-action__comment{
  margin-right:35px;
  margin-left: auto;
  color: #249f80;
  font-size:12px;
}


