.header-container{
  width:100vw;
  height:199px;
  box-sizing: border-box !important;
}
.header-container-up{
  height:165px;
  border-bottom: 2px solid #e8eceb;
}
.header-container-dawn{
  height:32px;
}
.renewal-l-header__global{
  height:64px;
}
.l-header__nav{
  height:102px;
}

.p-globalNavigation__item{
  margin:0px 15px 0px 15px;
  float:left;
}
.p-globalNavigation__menu{
  height: 48px;
  border-bottom: 1px solid #e8eceb;
}

.p-globalNavigation__item__help{

}

.p-dropNavigation__item{

}

.p-dropNavigation__submit{
  margin:0px 15px 0px 15px;
}

