.header-container{
  position: relative;
  z-index: 11;
}

.renewal-l-header{
    top: 0px;
    left: 0px;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 1px;
}

.renewal-l-header__inner{
  position: relative;
  background: rgb(255, 255, 255);
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.renewal-l-header__global{
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  height: 64px;
  width: 940px;
  margin: 0px auto;
}

.renewal-l-header__logo{
    width: auto;
    height: auto;
    max-height: 25px;
}

.renewal-l-header__right{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-left: auto;
}

.renewal-p-buttonSet{
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}


.renewal-p-buttonSet__item{
  margin-left: 10px;
  cursor: pointer;
}

.p-searchForm--header{
  position: absolute;
  float: left;
}

.renewal-p-buttonSet__item--mlL{
  margin-left:20px;
  cursor: pointer;
}

.c-avatar--small{
  width: 30px;
  height: 30x;
  border-radius: 30px;
}



.renewal-c-popover--mymenu{
  display:none;
  z-index: 12;
  top: 60px;
  right: 134px;
  width: 220px;
  position: absolute;
  z-index: 10;
  padding: 8px 0;
  text-align: left;
  font-weight: normal;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 1px 2px rgba(0,0,0,0.25), 0 0 1px rgba(0,0,0,0.35);
}


.u-textBold{
  // position: relative;
  // display: block;
  // padding: 6px 25px;
}

.renewal-p-mymenuList__span{
  display: block;
  margin-top: 3px;
  font-size: 11px;
  font-weight: normal;
  color: #787c7b;
}


.renewal-c-popover__separator {
  margin: 10px 0;
  padding: 0;
  border-bottom: 1px solid rgba(0,0,0,0.05);
}

.renewal-p-mymenuList__item{
  position: relative;
    display: block;
    padding: 6px 25px;
}

.renewal-p-mymenuList__item--button{
  padding: 0 10px;
}

.premier{
  padding: 0.7em 1em;
  position: relative;
  display: block;
  border-color: #2cb696;
  color: #fff;
  background: #2cb696;
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  cursor: pointer;
  width:180px;
  margin-left:10px;
}


.renewal-c-popover--mymenu:before{
    content: "";
    display: block;
    position: absolute;
    right: 18px;
    top: -13px;
    width: 14px;
    height: 14px;
    background: #fff;
    box-shadow: 1px 1px 1px -1px rgba(0,0,0,0.8);
     transform: rotate(225deg) translate(-5px, -5px);
}

.renewal-c-button--navBarPostNote {
    margin-left: 25px;
    padding: 0px;
    color: rgb(255, 255, 255);
    border-color: rgb(44, 182, 150);
    background: rgb(44, 182, 150);
    font-weight: bold;
    cursor: pointer;
    border-radius: 4px;
    font-family: inherit;
    font-size: 12px;
    line-height: 2.5;
    text-align: center;
    width:108px;
}


.renewal-c-popover--postNote{
  top: 60px;
  right: 0;
  padding: 30px;
  cursor: auto;
  position: absolute;
  z-index: 10;
  text-align: left;
  font-weight: normal;
  border-radius: 4px;
  background: white;
  box-shadow: 0 1px 2px rgba(0,0,0,0.25), 0 0 1px rgba(0,0,0,0.35);
  width:380px;
  height:82px;
  display:none;
}

.renewal-p-postNoteFromNavBarList{
}

 .renewal-p-postNoteFromNavBarList__item {
  margin-right: 16px;
  margin-left:0px;
}

.wani{
  margin-right: 16px;
  margin-left:0px;
}

.renewal-p-postNoteFromNavBarList__item-last{
  margin-left:0px;
  margin-right: 0px;
}
.aab{
  height:60px;
  width:60px;
  position:absolute;
  left:30px;
  top:30px;
}

.aaa{
  height:60px;
  width:60px;
}

.renewal-p-icon--text{
  color: rgb(120, 124, 123);
  display: block;
  font-size: 12px;
  padding-left:10px;
  float:left;
  padding-top:68px;
  cursor:pointer;
}
.renewal-p-icon--textnote:hover{
  color:#2cb696;
}

.renewal-p-icon--text:hover{
  color:#2cb696;
}




.renewal-p-icon--textnote{
  color: rgb(120, 124, 123);
  text-align:center;
  display: block;
  font-size: 12px;
  cursor:pointer;
}

.renewal-c-popover--postNote:before{
  content: "";
    display: block;
    position: absolute;
    top: -13px;
    width: 14px;
    height: 14px;
    background: #fff;
    box-shadow: 1px 1px 1px -1px rgba(0,0,0,0.8);
    transform: rotate(225deg) translate(-5px, -5px);
    right: 46px;
}
























.renewal-c-button--navBarPostNote:hover{
  background-color:#27aa89;
}

.fa.fa-edit{
  color:white;
}

i.fa.fa-edit{
  font-weight: bold;
}

.renewal-p-buttonSet__item{
  vertical-align: top;
    display: inline-block;
    font-size: 18px;
    width: 24px;
    height: 24px;
    position: relative;
}



.l-header__nav{
  width: 940px;
  margin: 0 auto;
}

.p-globalNavigation__menu{
    width: 940px;
    margin-left: auto;
    margin-right: auto;
    height: 48px;
    display:flex;
}


.p-globalNavigation__link{
    color: #787c7b;
    display: block;
    font-weight: bold;
    // padding: 0 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 14px;
    line-height: 24px;
    padding: 12px 14px;
}

.p-globalNavigation__link-home{
  cursor: pointer;
  color: #222222;
  border-bottom: solid 2px;
  font-weight: bold;
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 24px;
  padding: 12px 14px;
}

.p-globalNavigation__link:hover{
  cursor: pointer;
  color: #222222;
  border-bottom: solid 2px;
}

.p-dropNavigation__link:hover{
  cursor: pointer;
  color: #222222;
}

.p-globalNavigation__link--help:hover{
  // cursor: pointer;
  // color: #222222;
  // border-bottom: solid 2px;
}

.p-globalNavigation__item.p-globalNavigation__item--help{
  margin-left: auto;

}

.p-globalNavigation__link--help{
    vertical-align: top;
    display: inline-block;
    font-size: 22px;
    width: 56px;
    height: 48px;
    line-height: 1;
    position: relative;
    cursor:pointer;
}



.p-globalNavigation__submenu {
    width: 940px;
    margin-left: auto;
    margin-right: auto;
}

.p-dropNavigation{
  display: flex;
  border-top: 1px solid rgba(0,0,0,0.05);
}

.p-dropNavigation__link{
    color: #787c7b;
    display: block;
    padding: 16px 14px;
    white-space: nowrap;
    font-size: 14px;
}
.searchuser{
  box-sizing: border-box !important;
  padding: 5px 30px 5px 10px;
  width: 200px;
  height: 28px;
  border: 1px solid rgba(0,0,0,0.05);
  border-radius: 100px;
  background: #f7f9f9;
  position:absolute;
  top:-33px;
  right:-1sspx;
  display:none;
  font-size:11px;
  color:black;
  font-weight:initial;
}

.icon-30 {
    position: absolute;
    top: 6.5px;
    z-index: 1001;
    width:15px;
    height:15px;
    display: none;
}


input[type="text"]:focus {
  outline: 0;
  border-color:#259f7f;
  background-color:#ffffff;
}

input::placeholder {
  color:#bdc3c7;
}

.p-searchForm--header{
  position: relative;
  visibility:visible;
  padding-right:5px;
  z-index:99;

}

.fa-search{
}

.bell-10{
  height:27px;
  width:25px;
}

.search-10{
  height:24px;
  width:24px;
  position:absolute;
  top:1.5px;
  z-index: 1001;
}

.hatena-10{
  height:28px;
  width:30px;
  position:absolute;
  top:11px;
  right:15px;
}

.angucomplete-holder{
  width:200px;
  // height:250px;
  background-color: white;
  position: absolute;
  right:-20px;
  top:28px;
  margin-top:5px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.25), 0 0 1px rgba(0,0,0,0.35);
  border-radius: 4px;
    padding: 0;
}


.angucomplete-dropdownA{
  font-size: 12px;
  padding: 14px 10px;
  margin-bottom: 0;
  padding-right:5px;
}

.angucomplete-dropdownB{
  font-size: 12px;
  padding: 8px 10px;
  margin-bottom: 0;
  // padding-left:20px;
  height:30px;
  width:180px;
}

.angucomplete-image-holder{
  float:left;
  padding: 0;
  margin: 0;
}

.list-image{
  height: 30px;
  width: 30px;
  margin-right: 8px;
  border: none;
  border-radius: 50%;
}

.angucomplete-title{
  line-height: 30px;
}
