.header-container{
  position: relative;
  z-index: 11;
}

.renewal-l-header{
    top: 0px;
    left: 0px;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 1px;
}

.renewal-l-header__inner{
  position: relative;
  background: rgb(255, 255, 255);
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.renewal-l-header__global{
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  height: 64px;
  width: 940px;
  margin: 0px auto;
}

.renewal-l-header__logo{
    width: auto;
    height: auto;
    max-height: 25px;
}

.renewal-l-header__right{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-left: auto;
}

.renewal-p-buttonSet{
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}


.renewal-p-buttonSet__item{
  margin-left: 10px;
  cursor: pointer;
}

.p-searchForm--header{
  position: relative;
  float: left;
}

.renewal-p-buttonSet__item--mlL{
  margin-left:20px;
  cursor: pointer;
}

.c-avatar--small{
  width: 30px;
  height: 30px;
  border-radius: 30px;
}

.renewal-c-button--navBarPostNote {
    margin-left: 25px;
    padding: 0px;
    color: rgb(255, 255, 255);
    border-color: rgb(44, 182, 150);
    background: rgb(44, 182, 150);
    font-weight: bold;
    cursor: pointer;
    border-radius: 4px;
    font-family: inherit;
    font-size: 12px;
    line-height: 2.5;
    text-align: center;
    width:108px;
    height:30px;
}

.fa.fa-edit{
  color:white;
}

i.fa.fa-edit{
  font-weight: bold;
}

.renewal-p-buttonSet__item{
  vertical-align: top;
    display: inline-block;
    font-size: 18px;
    width: 24px;
    height: 24px;
    position: relative;
}



.l-header__nav{
  width: 940px;
  margin: 0 auto;
}

.p-globalNavigation__menu{
    width: 940px;
    margin-left: auto;
    margin-right: auto;
    height: 48px;
    display:flex;
}


.p-globalNavigation__link{
    color: #787c7b;
    display: block;
    font-weight: bold;
    // padding: 0 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 14px;
    line-height: 24px;
    padding: 12px 14px;
}

.p-globalNavigation__link:hover{
  cursor: pointer;
color: #222222;
border-bottom: solid 2px;
}

.p-dropNavigation__link:hover{
  cursor: pointer;
  color: #222222;
}

.p-globalNavigation__item.p-globalNavigation__item--help{
  margin-left: auto;
}

.p-globalNavigation__link--help{
    vertical-align: top;
    display: inline-block;
    font-size: 22px;
    width: 56px;
    height: 48px;
    line-height: 1;
    position: relative;
    cursor:pointer;
}



.p-globalNavigation__submenu {
    width: 940px;
    margin-left: auto;
    margin-right: auto;
}

.p-dropNavigation{
  display: flex;
  border-top: 1px solid rgba(0,0,0,0.05);
}

.p-dropNavigation__link{
    color: #787c7b;
    display: block;
    padding: 16px 14px;
    white-space: nowrap;
    font-size: 14px;
}
