.note-container {
    width: 620px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.fude-content {
    min-height: 450px;
}

.note-wrapper {
    margin-bottom: 72px;
}

.note-name{
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", Hiragino Kaku Gothic ProN, "ヒラギノ角ゴ ProN W3", Arial, "メイリオ", Meiryo, sans-serif;
    color: #444444;
}

.note-name h1 {
    font-size: 32px;
    line-height: 1.5;
    -webkit-font-feature-settings: 'palt' 1;
    font-feature-settings: 'palt' 1;
    letter-spacing: 0.04em;
    margin-top: 72px;
    margin-bottom: 18px;
    min-height: 1em;
}

.ns-note .p-articleNoteInfo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.note-user-name {
    font-size: 80%;
    margin-bottom: 36px;
}

.p-articleNoteInfo__user {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 75%;
    font-size: 12px;
}

.p-articleNoteInfo__status {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: auto;
    padding-left: 8px;
}

.ns-note .u-mlXS {
    margin-left: 10px;
    color: #249f80;
    border-color: #2cb696;
}

.ns-note ul{
    // list-style-type: none;
    // padding: 0.7em 1em;
    // border: 1px solid #e8eceb;
    border-radius: 4px;
    // font-family: inherit;
    // line-height: 1;
    // text-align: center;
    // text-decoration: none;
    // background: #fff;
}

.renewal-c-button--secondarySmall{
}

