.renewal-p-creator.editMode{
  height:100vh;
}

.renewal-p-creator__container2{
  background: rgb(255, 255, 255);
}

.renewal-p-creator__header{
  position: relative;
  width: 100%;
  height: 35.1vw;
  max-height: 700px;
  overflow: hidden;
  background-color:gray;
}

.renewal-p-creator__headerImg{
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
}

.renewal-p-creator__headerOverlay {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.renewal-p-creator__headerLabel{
    display: block;
    font-size: 14px;
    margin-top: 8px;
    color: rgb(255, 255, 255);
    pointer-events: none;
    position:absolute;
    top:212px;
    left:580px;
}

.cameco{
  position:absolute;
  top: 185px;
  left: 626px;
  height:24px;
  width:30px;
}

.close{
  position:absolute;
  top:33px;
  right:30px;
  height:24px;
  width:27px;
}

.renewal-p-creator__form {
    width: 100%;
    position: relative;
    z-index: 1;
    height:260px;
}

.renewal-p-creator__content{
  width: 940px;
  margin: 0px auto;
  padding: 32px 0px;
}

.renewal-p-creator__contentInner{
  position: relative;
  width: 100%;
}

 .renewal-p-creator__photo {
    position: absolute;
    left: -3px;
    top: -18px;
    width: 104px;
    z-index: 2;
    cursor: pointer;
    overflow: visible;
    height:104px;
}

.renewal-p-creator__nickname {
    position: relative;
    padding-left: 128px;
    width: 100%;
    -webkit-box-align: center;
    align-items: center;
    margin-bottom: 8px;
}

.usagi{
    background-color: rgb(255, 255, 255);
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    font-size: 22px;
    font-weight: bold;
    line-height: 1.5;
    height: auto !important;
    padding: 8px 16px !important;
    width:778px;
    border-color: #E8ECEB;
}

.renewal-p-creator__intro{
    font-size: 14px;
    line-height: 1.5;
    font-weight: normal;
    margin-bottom: 16px;
    padding-left: 128px;
    border-color: rgb(232, 236, 235) !important;
}

.introduction{
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  font-size: 14px;
  line-height: 1.5;
  padding: 8px 16px !important;
  width:778px;
  height:72px;
  border-color: #E8ECEB;
}

.renewal-p-creator__cancelButton {
  margin-left: 8px;
  text-aling:center;
  position:absolute;
  top:163px;
  right:70px;
  height:38px;
  border: 1px solid #e6e6e6;
  text-align: center;
  padding: 0 16px;
  font-weight: bold;
  border-radius: 4px;
  cursor:pointer;
}

.c-button--type_basic {
  line-height:40px;
}

.c-button__label {
  font-size: 14px;
}

.renewal-p-creator__hozonButton{
  position:absolute;
  top:163px;
  right:0px;
  // width:60px;
  height:38px;
      color: #ffffff;
  background-color: #2cb696;
  padding: 0 16px;
      border-radius: 4px;
      border: 1px solid;
      cursor:pointer;
}

textarea[type="text"]:focus {
  outline: 0;
}

.defaulticon{
    height:105px;
    width:105px;
    border-radius: 50%;
}

.photoimagesize{
  width:100%;
  height:448.92px;
}

.cameco2{
  position:absolute;
  height:24px;
  width:30px;
  top:40px;
  left:38px;
  z-index:10;
}

.c-button__label2{
background-color: #2cb696;
font-size: 14px;
color:white;
}

.usericon-10{
  height:30px;
  width:30px;
  border-radius:50%;
}

.smileicon-10{
  height:30px;
  width:32px;
  border-radius:50%;
}

